/*
Esto es el BODY desde program hasta In Partnership With incluido
*/
#programa{
    width: 650px;
    margin: 20px;
}
#programa img{
    float: right;
    margin: 25px;
}
#sc{
    width: 800px;
    margin: 25px;
}
#festivals{
    width: 800px;
    margin: 25px;
}
h1{
    font-size: 30px;
    color: rgb(76, 199, 193);
}
h2{
    font-size: 20px;
    color: rgb(37, 148, 142);
}
#h1rojo{
    font-size: 20px;
    color: brown;
}
table tr td{
    border: white 10px solid;
}
#uno{
    background-color: rgb(236, 143, 143);
    text-align: center;
    
}
#uno h6{
    background-color: rgb(236, 143, 143);
    text-align: center;
    font-size: large;
}
#uno p, #uno strong, #uno span{
    background-color: rgb(236, 143, 143);
    text-align: center;
    font-size: small;
}
#dos{
    background-color: rgb(190, 240, 140);
    text-align: center;
}
#dos h6{
    background-color: rgb(190, 240, 140);
    text-align: center;
    font-size: large;
}
#dos p, #dos strong, #dos span{
    background-color: rgb(190, 240, 140);
    text-align: center;
    font-size: small;
}
#tres{
    background-color:rgb(216, 212, 151) ;
    text-align: center;
}
#tres h6{
    background-color:rgb(216, 212, 151) ;
    text-align: center;
    font-size: large;
}
#tres p, #tres strong, #tres span{
    background-color:rgb(216, 212, 151) ;
    text-align: center;
    font-size: small;
}
#cuatro{
    background-color:rgb(81, 211, 211) ;
    text-align: center;
}
#cuatro h6{
    background-color:rgb(81, 211, 211) ;
    text-align: center;
    font-size: large;
}
#cuatro p, #cuatro strong, #cuatro span{
    background-color:rgb(81, 211, 211) ;
    text-align: center;
    font-size: small;
}
span{
    color:#20a08f
}
/*
Esto es el FOOTER
*/
/*#footerEntero{
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: gray;
}
#footer1{
    text-align: justify;
    font-size: small;
}
#footer2{
    text-align: justify;
    font-size: small;
}
#footer3{
    text-align: justify;
    font-size: small;
}
#footer4{
    text-align: justify;
    font-size: small;
}
#footer5{
    text-align: justify;
    font-size: small;
}*/
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo p4{
    color: #fff;
    border-bottom: 3px solid #d32020;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}